.crud-ingredientes-container {
  padding: 2rem;
  background-color: #f7fdf9;
  border-radius: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

h2 {
  color: #388e3c;
}

.p-button {
  background-color: #388e3c !important;
  border: none !important;
}

.p-button-text {
  color: #388e3c !important;
}

.acciones {
  display: flex;
  gap: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-field label {
  font-weight: 600;
  color: #388e3c;
  margin-bottom: 0.3rem;
}

.p-dialog .p-button {
  background-color: #388e3c !important;
}

.p-dialog .p-button-outlined {
  border-color: #388e3c !important;
  color: #388e3c !important;
}
