:root {
  --verde-oscuro: #2e7d32;
  --verde-claro: #81c784;
  --crema: #f5f5f5;
  --cafe-oscuro: #5d4037;
  --beige: #d7ccc8;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.login-card {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espacio entre inputs y botón */
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.extra-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}



.register-link {
  font-size: 0.95rem;
  color: #007ad9;
  text-decoration: underline;
  line-height: 1.5rem;
}
.input-icon-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input-icon-wrapper i.pi {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #555;
}

.input-icon-wrapper input,
.input-icon-wrapper .p-password-input {
  padding-left: 2.5rem !important; /* Deja espacio para el ícono */
}
/* Botón "Olvidaste tu contraseña" */
.forgot-password-btn {
  background: none;
  border: none;
  color: #007ad9;
  font-size: 0.95rem;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  height: auto;
}

.forgot-password-btn:hover {
  color: #0056b3;
}



